<!DOCTYPE html>
<html lang="vi">

<head>
  {{> default/header }}
</head>

<body>
  <!-- ======= Header ======= -->
  {{> default/navbar }}
  <!-- End Header -->
  {{{ body }}}
  {{> default/footer }}
</body>

</html>