<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="/" class="logo ps-3 ps-md-0">STALKER</a>

    {{!-- <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/user">Tài khoản</a></li>
        <li><a class="nav-link scrollto" href="/form/create">Tạo form ngay</a></li>
        <li><a class="nav-link scrollto" href="/credit">Nạp tiền</a></li>
        <li><a class="nav-link scrollto" href="https://fillform.info/">Về FillForm !</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle pe-4 pe-md-0"></i>
    </nav><!-- .navbar -->
{{#if path}}
{{#ifEquals path "index"}}
    <div class="navbar d-none d-lg-inline-block">
      <a class="getstarted scrollto text-uppercase" href="/login">Đăng nhập</a>
    </div>
{{/ifEquals}}
{{#ifEquals path "auth"}}
    <div class="navbar d-none d-lg-inline-block">
      <a class="getstarted scrollto text-uppercase noUnderline" href="/">Về Trang chủ</a>
    </div>
{{/ifEquals}}
{{#ifEquals path "logged"}}
    <div class="navbar d-none d-lg-inline-block">
      <a class="getstarted scrollto text-uppercase noUnderline" href="/logout">Đăng xuất</a>
    </div>
{{/ifEquals}}
{{else}}
    <div class="navbar d-none d-lg-inline-block">
      <a class="getstarted scrollto text-uppercase noUnderline" href="">FillForm!</a>
    </div>
{{/if}} --}}
  </div>
</header>
<!-- End Header -->